                                   CRICKET ANALYSIS

In [1]:
import findspark
findspark.init()
findspark.find()
import pyspark
findspark.find()

'C:\\spark\\spark-3.0.3-bin-hadoop2.7'

In [2]:
from pyspark import SparkConf,SparkContext
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Betsy').getOrCreate()
from pyspark.sql import SQLContext
sqlContext = SQLContext(spark)

In [3]:
my_data=spark.read.csv('ipl.csv',inferSchema=True,header=True)
my_data.printSchema()

root
 |-- mid: integer (nullable = true)
 |-- date: string (nullable = true)
 |-- venue: string (nullable = true)
 |-- bat_team: string (nullable = true)
 |-- bowl_team: string (nullable = true)
 |-- batsman: string (nullable = true)
 |-- bowler: string (nullable = true)
 |-- runs: integer (nullable = true)
 |-- wickets: integer (nullable = true)
 |-- overs: double (nullable = true)
 |-- runs_last_5: integer (nullable = true)
 |-- wickets_last_5: integer (nullable = true)
 |-- striker: integer (nullable = true)
 |-- non-striker: integer (nullable = true)
 |-- total: integer (nullable = true)

In [4]:
my_data.show()

+---+----------+--------------------+--------------------+--------------------+-----------+---------+----+-------+-----+-----------+--------------+-------+-----------+-----+
|mid|      date|               venue|            bat_team|           bowl_team|    batsman|   bowler|runs|wickets|overs|runs_last_5|wickets_last_5|striker|non-striker|total|
+---+----------+--------------------+--------------------+--------------------+-----------+---------+----+-------+-----+-----------+--------------+-------+-----------+-----+
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...| SC Ganguly|  P Kumar|   1|      0|  0.1|          1|             0|      0|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|  P Kumar|   1|      0|  0.2|          1|             0|      0|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|  P Kumar|   2|      0|  0.2|          2|             0|      0|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|  P Kumar|   2|      0|  0.3|          2|             0|      0|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|  P Kumar|   2|      0|  0.4|          2|             0|      0|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|  P Kumar|   2|      0|  0.5|          2|             0|      0|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|  P Kumar|   3|      0|  0.6|          3|             0|      0|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|   Z Khan|   3|      0|  1.1|          3|             0|      0|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|   Z Khan|   7|      0|  1.2|          7|             0|      4|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|   Z Khan|  11|      0|  1.3|         11|             0|      8|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|   Z Khan|  17|      0|  1.4|         17|             0|     14|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|   Z Khan|  21|      0|  1.5|         21|             0|     18|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|   Z Khan|  21|      0|  1.6|         21|             0|     18|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...| SC Ganguly|  P Kumar|  21|      0|  2.1|         21|             0|     18|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...| SC Ganguly|  P Kumar|  21|      0|  2.2|         21|             0|     18|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...| SC Ganguly|  P Kumar|  22|      0|  2.3|         22|             0|     18|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|  P Kumar|  26|      0|  2.4|         26|             0|     22|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|  P Kumar|  27|      0|  2.5|         27|             0|     23|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...| SC Ganguly|  P Kumar|  27|      0|  2.6|         27|             0|     23|          0|  222|
|  1|2008-04-18|M Chinnaswamy Sta...|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|AA Noffke|  32|      0|  3.0|         32|             0|     23|          0|  222|
+---+----------+--------------------+--------------------+--------------------+-----------+---------+----+-------+-----+-----------+--------------+-------+-----------+-----+
only showing top 20 rows

In [5]:
my_data.columns

['mid',
 'date',
 'venue',
 'bat_team',
 'bowl_team',
 'batsman',
 'bowler',
 'runs',
 'wickets',
 'overs',
 'runs_last_5',
 'wickets_last_5',
 'striker',
 'non-striker',
 'total']

In [6]:
#no: of rows or records
my_data.count()

76014

In [7]:
len(my_data.columns)

15

In [8]:
my_data.describe('overs').show()

+-------+-----------------+
|summary|            overs|
+-------+-----------------+
|  count|            76014|
|   mean|9.783067592811642|
| stddev|5.772586873852114|
|    min|              0.0|
|    max|             19.6|
+-------+-----------------+

In [9]:
my_data.select('batsman','bowler','overs','runs').show()

+-----------+---------+-----+----+
|    batsman|   bowler|overs|runs|
+-----------+---------+-----+----+
| SC Ganguly|  P Kumar|  0.1|   1|
|BB McCullum|  P Kumar|  0.2|   1|
|BB McCullum|  P Kumar|  0.2|   2|
|BB McCullum|  P Kumar|  0.3|   2|
|BB McCullum|  P Kumar|  0.4|   2|
|BB McCullum|  P Kumar|  0.5|   2|
|BB McCullum|  P Kumar|  0.6|   3|
|BB McCullum|   Z Khan|  1.1|   3|
|BB McCullum|   Z Khan|  1.2|   7|
|BB McCullum|   Z Khan|  1.3|  11|
|BB McCullum|   Z Khan|  1.4|  17|
|BB McCullum|   Z Khan|  1.5|  21|
|BB McCullum|   Z Khan|  1.6|  21|
| SC Ganguly|  P Kumar|  2.1|  21|
| SC Ganguly|  P Kumar|  2.2|  21|
| SC Ganguly|  P Kumar|  2.3|  22|
|BB McCullum|  P Kumar|  2.4|  26|
|BB McCullum|  P Kumar|  2.5|  27|
| SC Ganguly|  P Kumar|  2.6|  27|
|BB McCullum|AA Noffke|  3.0|  32|
+-----------+---------+-----+----+
only showing top 20 rows

In [10]:
my_filter=my_data.filter(my_data.runs=='6').show(5)

+---+----------+--------------------+---------------+----------------+-------------+---------+----+-------+-----+-----------+--------------+-------+-----------+-----+
|mid|      date|               venue|       bat_team|       bowl_team|      batsman|   bowler|runs|wickets|overs|runs_last_5|wickets_last_5|striker|non-striker|total|
+---+----------+--------------------+---------------+----------------+-------------+---------+----+-------+-----+-----------+--------------+-------+-----------+-----+
|  6|2008-04-21|Sawai Mansingh St...|Kings XI Punjab|Rajasthan Royals|       K Goel|SR Watson|   6|      0|  1.5|          6|             0|      6|          0|  166|
|  6|2008-04-21|Sawai Mansingh St...|Kings XI Punjab|Rajasthan Royals|     JR Hopes|SR Watson|   6|      0|  1.6|          6|             0|      6|          0|  166|
| 13|2008-04-27|Dr DY Patil Sport...| Mumbai Indians| Deccan Chargers|ST Jayasuriya| RP Singh|   6|      0|  0.4|          6|             0|      5|          0|  154|
| 13|2008-04-27|Dr DY Patil Sport...| Mumbai Indians| Deccan Chargers|ST Jayasuriya| RP Singh|   6|      0|  0.5|          6|             0|      5|          0|  154|
| 13|2008-04-27|Dr DY Patil Sport...| Mumbai Indians| Deccan Chargers|ST Jayasuriya| RP Singh|   6|      0|  0.6|          6|             0|      5|          0|  154|
+---+----------+--------------------+---------------+----------------+-------------+---------+----+-------+-----+-----------+--------------+-------+-----------+-----+
only showing top 5 rows

In [11]:
# drop the columns that are not required
my_data = my_data.drop(*['venue', 'mid'])
my_data.columns

['date',
 'bat_team',
 'bowl_team',
 'batsman',
 'bowler',
 'runs',
 'wickets',
 'overs',
 'runs_last_5',
 'wickets_last_5',
 'striker',
 'non-striker',
 'total']

# ***Using pyspark for Data Exploration***

In [12]:
my_data.show(5)

+----------+--------------------+--------------------+-----------+-------+----+-------+-----+-----------+--------------+-------+-----------+-----+
|      date|            bat_team|           bowl_team|    batsman| bowler|runs|wickets|overs|runs_last_5|wickets_last_5|striker|non-striker|total|
+----------+--------------------+--------------------+-----------+-------+----+-------+-----+-----------+--------------+-------+-----------+-----+
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...| SC Ganguly|P Kumar|   1|      0|  0.1|          1|             0|      0|          0|  222|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|P Kumar|   1|      0|  0.2|          1|             0|      0|          0|  222|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|P Kumar|   2|      0|  0.2|          2|             0|      0|          0|  222|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|P Kumar|   2|      0|  0.3|          2|             0|      0|          0|  222|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|P Kumar|   2|      0|  0.4|          2|             0|      0|          0|  222|
+----------+--------------------+--------------------+-----------+-------+----+-------+-----+-----------+--------------+-------+-----------+-----+
only showing top 5 rows

In [13]:
(my_data.count() , len(my_data.columns))

(76014, 13)

In [14]:
import pyspark.sql.functions as f
# null values in each column
data_agg = my_data.agg(*[f.count(f.when(f.isnull(c), c)).alias(c) for c in my_data.columns])
data_agg.show()

+----+--------+---------+-------+------+----+-------+-----+-----------+--------------+-------+-----------+-----+
|date|bat_team|bowl_team|batsman|bowler|runs|wickets|overs|runs_last_5|wickets_last_5|striker|non-striker|total|
+----+--------+---------+-------+------+----+-------+-----+-----------+--------------+-------+-----------+-----+
|   0|       0|        0|      0|     0|   0|      0|    0|          0|             0|      0|          0|    0|
+----+--------+---------+-------+------+----+-------+-----+-----------+--------------+-------+-----------+-----+

In [15]:
# value counts of Batsman_Name column
my_data.groupBy('batsman').count().show()

+---------------+-----+
|        batsman|count|
+---------------+-----+
|     S Anirudha|   99|
|     TM Dilshan|  524|
|  Kuldeep Yadav|    7|
| M Muralitharan|   18|
|  LA Carseldine|   17|
|        J Botha|  131|
|     KA Pollard|  919|
|       DR Smith|  914|
| Jaskaran Singh|    3|
|     A Flintoff|   14|
|       M Manhas|  201|
|      GR Napier|   16|
|          B Lee|   53|
|     D du Preez|   13|
|       A Mukund|   22|
|    BMAJ Mendis|    9|
|       SA Yadav|  194|
|       AR Patel|  257|
|NM Coulter-Nile|   36|
|Mohammad Hafeez|   53|
+---------------+-----+
only showing top 20 rows

In [16]:
my_data.dtypes

[('date', 'string'),
 ('bat_team', 'string'),
 ('bowl_team', 'string'),
 ('batsman', 'string'),
 ('bowler', 'string'),
 ('runs', 'int'),
 ('wickets', 'int'),
 ('overs', 'double'),
 ('runs_last_5', 'int'),
 ('wickets_last_5', 'int'),
 ('striker', 'int'),
 ('non-striker', 'int'),
 ('total', 'int')]

# ***Encode Categorical Variables using PySpark***

In [17]:
my_data.show(5)

+----------+--------------------+--------------------+-----------+-------+----+-------+-----+-----------+--------------+-------+-----------+-----+
|      date|            bat_team|           bowl_team|    batsman| bowler|runs|wickets|overs|runs_last_5|wickets_last_5|striker|non-striker|total|
+----------+--------------------+--------------------+-----------+-------+----+-------+-----+-----------+--------------+-------+-----------+-----+
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...| SC Ganguly|P Kumar|   1|      0|  0.1|          1|             0|      0|          0|  222|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|P Kumar|   1|      0|  0.2|          1|             0|      0|          0|  222|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|P Kumar|   2|      0|  0.2|          2|             0|      0|          0|  222|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|P Kumar|   2|      0|  0.3|          2|             0|      0|          0|  222|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|P Kumar|   2|      0|  0.4|          2|             0|      0|          0|  222|
+----------+--------------------+--------------------+-----------+-------+----+-------+-----+-----------+--------------+-------+-----------+-----+
only showing top 5 rows

In [18]:
from pyspark.ml.feature import StringIndexer
batteam_indexer=StringIndexer(inputCol="bat_team",outputCol="bat_team_new")
bowlteam_indexer=StringIndexer(inputCol="bowl_team",outputCol="bowl_team_new")
bat_indexer=StringIndexer(inputCol="batsman",outputCol="batsman_new")
bowl_indexer=StringIndexer(inputCol="bowler",outputCol="bowler_new")
my_data = batteam_indexer.fit(my_data).transform(my_data)
my_data = bowlteam_indexer.fit(my_data).transform(my_data)
my_data = bat_indexer.fit(my_data).transform(my_data)
my_data = bowl_indexer.fit(my_data).transform(my_data)

In [19]:
my_data.select('bat_team', 'bat_team_new', 'bowl_team', 'bowl_team_new','batsman','batsman_new','bowler','bowler_new').show(10)

+--------------------+------------+--------------------+-------------+-----------+-----------+-------+----------+
|            bat_team|bat_team_new|           bowl_team|bowl_team_new|    batsman|batsman_new| bowler|bowler_new|
+--------------------+------------+--------------------+-------------+-----------+-----------+-------+----------+
|Kolkata Knight Ri...|         4.0|Royal Challengers...|          1.0| SC Ganguly|       34.0|P Kumar|       2.0|
|Kolkata Knight Ri...|         4.0|Royal Challengers...|          1.0|BB McCullum|       11.0|P Kumar|       2.0|
|Kolkata Knight Ri...|         4.0|Royal Challengers...|          1.0|BB McCullum|       11.0|P Kumar|       2.0|
|Kolkata Knight Ri...|         4.0|Royal Challengers...|          1.0|BB McCullum|       11.0|P Kumar|       2.0|
|Kolkata Knight Ri...|         4.0|Royal Challengers...|          1.0|BB McCullum|       11.0|P Kumar|       2.0|
|Kolkata Knight Ri...|         4.0|Royal Challengers...|          1.0|BB McCullum|       11.0|P Kumar|       2.0|
|Kolkata Knight Ri...|         4.0|Royal Challengers...|          1.0|BB McCullum|       11.0|P Kumar|       2.0|
|Kolkata Knight Ri...|         4.0|Royal Challengers...|          1.0|BB McCullum|       11.0| Z Khan|       5.0|
|Kolkata Knight Ri...|         4.0|Royal Challengers...|          1.0|BB McCullum|       11.0| Z Khan|       5.0|
|Kolkata Knight Ri...|         4.0|Royal Challengers...|          1.0|BB McCullum|       11.0| Z Khan|       5.0|
+--------------------+------------+--------------------+-------------+-----------+-----------+-------+----------+
only showing top 10 rows

In [20]:
from pyspark.ml.feature import OneHotEncoder
ohe = OneHotEncoder(inputCols=['bat_team_new', 'bowl_team_new','batsman_new','bowler_new'],outputCols=['batteam_ohe', 'bowlteam_ohe','batsman_ohe','bowler_ohe'])
my_data = ohe.fit(my_data).transform(my_data)
my_data.select('bat_team_new', 'bowl_team_new','batsman_new','bowler_new').show(10)

+------------+-------------+-----------+----------+
|bat_team_new|bowl_team_new|batsman_new|bowler_new|
+------------+-------------+-----------+----------+
|         4.0|          1.0|       34.0|       2.0|
|         4.0|          1.0|       11.0|       2.0|
|         4.0|          1.0|       11.0|       2.0|
|         4.0|          1.0|       11.0|       2.0|
|         4.0|          1.0|       11.0|       2.0|
|         4.0|          1.0|       11.0|       2.0|
|         4.0|          1.0|       11.0|       2.0|
|         4.0|          1.0|       11.0|       5.0|
|         4.0|          1.0|       11.0|       5.0|
|         4.0|          1.0|       11.0|       5.0|
+------------+-------------+-----------+----------+
only showing top 10 rows

In [21]:
my_data.show()

+----------+--------------------+--------------------+-----------+---------+----+-------+-----+-----------+--------------+-------+-----------+-----+------------+-------------+-----------+----------+--------------+--------------+----------------+-----------------+
|      date|            bat_team|           bowl_team|    batsman|   bowler|runs|wickets|overs|runs_last_5|wickets_last_5|striker|non-striker|total|bat_team_new|bowl_team_new|batsman_new|bowler_new|   batteam_ohe|  bowlteam_ohe|     batsman_ohe|       bowler_ohe|
+----------+--------------------+--------------------+-----------+---------+----+-------+-----+-----------+--------------+-------+-----------+-----+------------+-------------+-----------+----------+--------------+--------------+----------------+-----------------+
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...| SC Ganguly|  P Kumar|   1|      0|  0.1|          1|             0|      0|          0|  222|         4.0|          1.0|       34.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[34],[1.0])|  (328,[2],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|  P Kumar|   1|      0|  0.2|          1|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|  (328,[2],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|  P Kumar|   2|      0|  0.2|          2|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|  (328,[2],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|  P Kumar|   2|      0|  0.3|          2|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|  (328,[2],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|  P Kumar|   2|      0|  0.4|          2|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|  (328,[2],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|  P Kumar|   2|      0|  0.5|          2|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|  (328,[2],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|  P Kumar|   3|      0|  0.6|          3|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|  (328,[2],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|   Z Khan|   3|      0|  1.1|          3|             0|      0|          0|  222|         4.0|          1.0|       11.0|       5.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|  (328,[5],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|   Z Khan|   7|      0|  1.2|          7|             0|      4|          0|  222|         4.0|          1.0|       11.0|       5.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|  (328,[5],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|   Z Khan|  11|      0|  1.3|         11|             0|      8|          0|  222|         4.0|          1.0|       11.0|       5.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|  (328,[5],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|   Z Khan|  17|      0|  1.4|         17|             0|     14|          0|  222|         4.0|          1.0|       11.0|       5.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|  (328,[5],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|   Z Khan|  21|      0|  1.5|         21|             0|     18|          0|  222|         4.0|          1.0|       11.0|       5.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|  (328,[5],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|   Z Khan|  21|      0|  1.6|         21|             0|     18|          0|  222|         4.0|          1.0|       11.0|       5.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|  (328,[5],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...| SC Ganguly|  P Kumar|  21|      0|  2.1|         21|             0|     18|          0|  222|         4.0|          1.0|       34.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[34],[1.0])|  (328,[2],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...| SC Ganguly|  P Kumar|  21|      0|  2.2|         21|             0|     18|          0|  222|         4.0|          1.0|       34.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[34],[1.0])|  (328,[2],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...| SC Ganguly|  P Kumar|  22|      0|  2.3|         22|             0|     18|          0|  222|         4.0|          1.0|       34.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[34],[1.0])|  (328,[2],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|  P Kumar|  26|      0|  2.4|         26|             0|     22|          0|  222|         4.0|          1.0|       11.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|  (328,[2],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|  P Kumar|  27|      0|  2.5|         27|             0|     23|          0|  222|         4.0|          1.0|       11.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|  (328,[2],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...| SC Ganguly|  P Kumar|  27|      0|  2.6|         27|             0|     23|          0|  222|         4.0|          1.0|       34.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[34],[1.0])|  (328,[2],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|AA Noffke|  32|      0|  3.0|         32|             0|     23|          0|  222|         4.0|          1.0|       11.0|     269.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|(328,[269],[1.0])|
+----------+--------------------+--------------------+-----------+---------+----+-------+-----+-----------+--------------+-------+-----------+-----+------------+-------------+-----------+----------+--------------+--------------+----------------+-----------------+
only showing top 20 rows

In [22]:
my_data.show(5)

+----------+--------------------+--------------------+-----------+-------+----+-------+-----+-----------+--------------+-------+-----------+-----+------------+-------------+-----------+----------+--------------+--------------+----------------+---------------+
|      date|            bat_team|           bowl_team|    batsman| bowler|runs|wickets|overs|runs_last_5|wickets_last_5|striker|non-striker|total|bat_team_new|bowl_team_new|batsman_new|bowler_new|   batteam_ohe|  bowlteam_ohe|     batsman_ohe|     bowler_ohe|
+----------+--------------------+--------------------+-----------+-------+----+-------+-----+-----------+--------------+-------+-----------+-----+------------+-------------+-----------+----------+--------------+--------------+----------------+---------------+
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...| SC Ganguly|P Kumar|   1|      0|  0.1|          1|             0|      0|          0|  222|         4.0|          1.0|       34.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[34],[1.0])|(328,[2],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|P Kumar|   1|      0|  0.2|          1|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|(328,[2],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|P Kumar|   2|      0|  0.2|          2|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|(328,[2],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|P Kumar|   2|      0|  0.3|          2|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|(328,[2],[1.0])|
|2008-04-18|Kolkata Knight Ri...|Royal Challengers...|BB McCullum|P Kumar|   2|      0|  0.4|          2|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|(13,[4],[1.0])|(13,[1],[1.0])|(410,[11],[1.0])|(328,[2],[1.0])|
+----------+--------------------+--------------------+-----------+-------+----+-------+-----+-----------+--------------+-------+-----------+-----+------------+-------------+-----------+----------+--------------+--------------+----------------+---------------+
only showing top 5 rows

In [23]:
# drop the columns that are not required
my_data = my_data.drop(*['bat_team','bowl_team','batsman','bowler','batteam_ohe','bowlteam_ohe','batsman_ohe','bowler_ohe'])
my_data.columns

['date',
 'runs',
 'wickets',
 'overs',
 'runs_last_5',
 'wickets_last_5',
 'striker',
 'non-striker',
 'total',
 'bat_team_new',
 'bowl_team_new',
 'batsman_new',
 'bowler_new']

In [24]:
my_data.show(5)

+----------+----+-------+-----+-----------+--------------+-------+-----------+-----+------------+-------------+-----------+----------+
|      date|runs|wickets|overs|runs_last_5|wickets_last_5|striker|non-striker|total|bat_team_new|bowl_team_new|batsman_new|bowler_new|
+----------+----+-------+-----+-----------+--------------+-------+-----------+-----+------------+-------------+-----------+----------+
|2008-04-18|   1|      0|  0.1|          1|             0|      0|          0|  222|         4.0|          1.0|       34.0|       2.0|
|2008-04-18|   1|      0|  0.2|          1|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|
|2008-04-18|   2|      0|  0.2|          2|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|
|2008-04-18|   2|      0|  0.3|          2|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|
|2008-04-18|   2|      0|  0.4|          2|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|
+----------+----+-------+-----+-----------+--------------+-------+-----------+-----+------------+-------------+-----------+----------+
only showing top 5 rows

In [25]:
my_data.dtypes

[('date', 'string'),
 ('runs', 'int'),
 ('wickets', 'int'),
 ('overs', 'double'),
 ('runs_last_5', 'int'),
 ('wickets_last_5', 'int'),
 ('striker', 'int'),
 ('non-striker', 'int'),
 ('total', 'int'),
 ('bat_team_new', 'double'),
 ('bowl_team_new', 'double'),
 ('batsman_new', 'double'),
 ('bowler_new', 'double')]

In [26]:
from pyspark.sql.functions import to_date
my_data.withColumn('date',to_date(my_data.date, 'dd-MM-yyyy')).dtypes

[('date', 'date'),
 ('runs', 'int'),
 ('wickets', 'int'),
 ('overs', 'double'),
 ('runs_last_5', 'int'),
 ('wickets_last_5', 'int'),
 ('striker', 'int'),
 ('non-striker', 'int'),
 ('total', 'int'),
 ('bat_team_new', 'double'),
 ('bowl_team_new', 'double'),
 ('batsman_new', 'double'),
 ('bowler_new', 'double')]

In [27]:
from pyspark.sql.functions import split
new=pyspark.sql.functions.split(my_data['date'], '-')

In [28]:
my_data=my_data.withColumn('year',new.getItem(0))
my_data=my_data.withColumn('month',new.getItem(1))
my_data=my_data.withColumn('day',new.getItem(2))

In [29]:
my_data.dtypes

[('date', 'string'),
 ('runs', 'int'),
 ('wickets', 'int'),
 ('overs', 'double'),
 ('runs_last_5', 'int'),
 ('wickets_last_5', 'int'),
 ('striker', 'int'),
 ('non-striker', 'int'),
 ('total', 'int'),
 ('bat_team_new', 'double'),
 ('bowl_team_new', 'double'),
 ('batsman_new', 'double'),
 ('bowler_new', 'double'),
 ('year', 'string'),
 ('month', 'string'),
 ('day', 'string')]

In [30]:
type(my_data)

pyspark.sql.dataframe.DataFrame

In [31]:
from pyspark.sql.types import IntegerType,BooleanType,DateType
my_data=my_data.withColumn('day',my_data['day'].cast(IntegerType()))

In [32]:
my_data=my_data.withColumn('year',my_data['year'].cast(IntegerType()))

In [33]:
my_data=my_data.withColumn('month',my_data['month'].cast(IntegerType()))

In [34]:
my_data.dtypes

[('date', 'string'),
 ('runs', 'int'),
 ('wickets', 'int'),
 ('overs', 'double'),
 ('runs_last_5', 'int'),
 ('wickets_last_5', 'int'),
 ('striker', 'int'),
 ('non-striker', 'int'),
 ('total', 'int'),
 ('bat_team_new', 'double'),
 ('bowl_team_new', 'double'),
 ('batsman_new', 'double'),
 ('bowler_new', 'double'),
 ('year', 'int'),
 ('month', 'int'),
 ('day', 'int')]

In [35]:
my_data.select('day','month','year').show(5)

+---+-----+----+
|day|month|year|
+---+-----+----+
| 18|    4|2008|
| 18|    4|2008|
| 18|    4|2008|
| 18|    4|2008|
| 18|    4|2008|
+---+-----+----+
only showing top 5 rows

In [36]:
my_data.show(5)

+----------+----+-------+-----+-----------+--------------+-------+-----------+-----+------------+-------------+-----------+----------+----+-----+---+
|      date|runs|wickets|overs|runs_last_5|wickets_last_5|striker|non-striker|total|bat_team_new|bowl_team_new|batsman_new|bowler_new|year|month|day|
+----------+----+-------+-----+-----------+--------------+-------+-----------+-----+------------+-------------+-----------+----------+----+-----+---+
|2008-04-18|   1|      0|  0.1|          1|             0|      0|          0|  222|         4.0|          1.0|       34.0|       2.0|2008|    4| 18|
|2008-04-18|   1|      0|  0.2|          1|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|2008|    4| 18|
|2008-04-18|   2|      0|  0.2|          2|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|2008|    4| 18|
|2008-04-18|   2|      0|  0.3|          2|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|2008|    4| 18|
|2008-04-18|   2|      0|  0.4|          2|             0|      0|          0|  222|         4.0|          1.0|       11.0|       2.0|2008|    4| 18|
+----------+----+-------+-----+-----------+--------------+-------+-----------+-----+------------+-------------+-----------+----------+----+-----+---+
only showing top 5 rows

In [37]:
drop=['date','total']

In [38]:
x=my_data.drop(*drop)

In [39]:
type(my_data)

pyspark.sql.dataframe.DataFrame

In [40]:
x.show()

+----+-------+-----+-----------+--------------+-------+-----------+------------+-------------+-----------+----------+----+-----+---+
|runs|wickets|overs|runs_last_5|wickets_last_5|striker|non-striker|bat_team_new|bowl_team_new|batsman_new|bowler_new|year|month|day|
+----+-------+-----+-----------+--------------+-------+-----------+------------+-------------+-----------+----------+----+-----+---+
|   1|      0|  0.1|          1|             0|      0|          0|         4.0|          1.0|       34.0|       2.0|2008|    4| 18|
|   1|      0|  0.2|          1|             0|      0|          0|         4.0|          1.0|       11.0|       2.0|2008|    4| 18|
|   2|      0|  0.2|          2|             0|      0|          0|         4.0|          1.0|       11.0|       2.0|2008|    4| 18|
|   2|      0|  0.3|          2|             0|      0|          0|         4.0|          1.0|       11.0|       2.0|2008|    4| 18|
|   2|      0|  0.4|          2|             0|      0|          0|         4.0|          1.0|       11.0|       2.0|2008|    4| 18|
|   2|      0|  0.5|          2|             0|      0|          0|         4.0|          1.0|       11.0|       2.0|2008|    4| 18|
|   3|      0|  0.6|          3|             0|      0|          0|         4.0|          1.0|       11.0|       2.0|2008|    4| 18|
|   3|      0|  1.1|          3|             0|      0|          0|         4.0|          1.0|       11.0|       5.0|2008|    4| 18|
|   7|      0|  1.2|          7|             0|      4|          0|         4.0|          1.0|       11.0|       5.0|2008|    4| 18|
|  11|      0|  1.3|         11|             0|      8|          0|         4.0|          1.0|       11.0|       5.0|2008|    4| 18|
|  17|      0|  1.4|         17|             0|     14|          0|         4.0|          1.0|       11.0|       5.0|2008|    4| 18|
|  21|      0|  1.5|         21|             0|     18|          0|         4.0|          1.0|       11.0|       5.0|2008|    4| 18|
|  21|      0|  1.6|         21|             0|     18|          0|         4.0|          1.0|       11.0|       5.0|2008|    4| 18|
|  21|      0|  2.1|         21|             0|     18|          0|         4.0|          1.0|       34.0|       2.0|2008|    4| 18|
|  21|      0|  2.2|         21|             0|     18|          0|         4.0|          1.0|       34.0|       2.0|2008|    4| 18|
|  22|      0|  2.3|         22|             0|     18|          0|         4.0|          1.0|       34.0|       2.0|2008|    4| 18|
|  26|      0|  2.4|         26|             0|     22|          0|         4.0|          1.0|       11.0|       2.0|2008|    4| 18|
|  27|      0|  2.5|         27|             0|     23|          0|         4.0|          1.0|       11.0|       2.0|2008|    4| 18|
|  27|      0|  2.6|         27|             0|     23|          0|         4.0|          1.0|       34.0|       2.0|2008|    4| 18|
|  32|      0|  3.0|         32|             0|     23|          0|         4.0|          1.0|       11.0|     269.0|2008|    4| 18|
+----+-------+-----+-----------+--------------+-------+-----------+------------+-------------+-----------+----------+----+-----+---+
only showing top 20 rows

In [41]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler
assembler = VectorAssembler(inputCols=x.columns,outputCol="features")

In [42]:
output = assembler.transform(my_data)

In [43]:
final_data = output.select("features",'total')
train_data,test_data = final_data.randomSplit([0.7,0.3])

In [44]:
final_data.show()

+--------------------+-----+
|            features|total|
+--------------------+-----+
|[1.0,0.0,0.1,1.0,...|  222|
|[1.0,0.0,0.2,1.0,...|  222|
|[2.0,0.0,0.2,2.0,...|  222|
|[2.0,0.0,0.3,2.0,...|  222|
|[2.0,0.0,0.4,2.0,...|  222|
|[2.0,0.0,0.5,2.0,...|  222|
|[3.0,0.0,0.6,3.0,...|  222|
|[3.0,0.0,1.1,3.0,...|  222|
|[7.0,0.0,1.2,7.0,...|  222|
|[11.0,0.0,1.3,11....|  222|
|[17.0,0.0,1.4,17....|  222|
|[21.0,0.0,1.5,21....|  222|
|[21.0,0.0,1.6,21....|  222|
|[21.0,0.0,2.1,21....|  222|
|[21.0,0.0,2.2,21....|  222|
|[22.0,0.0,2.3,22....|  222|
|[26.0,0.0,2.4,26....|  222|
|[27.0,0.0,2.5,27....|  222|
|[27.0,0.0,2.6,27....|  222|
|[32.0,0.0,3.0,32....|  222|
+--------------------+-----+
only showing top 20 rows

In [45]:
from pyspark.ml.regression import LinearRegression
# Create a Linear Regression Model object
lr = LinearRegression(labelCol='total')
# Fit the model to the data and call this model lrModel
lrModel = lr.fit(train_data)

In [46]:
pred=lrModel.transform(test_data)

In [47]:
pred.show()

+--------------------+-----+------------------+
|            features|total|        prediction|
+--------------------+-----+------------------+
|(14,[0,2,3,9,10,1...|   92|160.67903652949076|
|(14,[0,2,3,9,10,1...|   92| 156.5295401358012|
|(14,[0,3,7,9,10,1...|  112|164.52179462512663|
|(14,[0,3,9,10,11,...|  218|166.42335357466663|
|(14,[2,7,8,9,10,1...|  182|159.22015649784043|
|(14,[2,7,8,9,10,1...|  119| 162.3520500774648|
|(14,[2,7,8,9,10,1...|  153|162.71798183967053|
|(14,[2,7,8,9,10,1...|  119| 161.1995771976715|
|(14,[2,7,8,9,10,1...|  112|162.77225644159557|
|(14,[2,7,8,9,10,1...|  129|160.61785748228476|
|(14,[2,7,8,9,10,1...|  179| 160.5818500388075|
|(14,[2,7,8,9,10,1...|  156|157.89176784543656|
|(14,[2,7,8,9,10,1...|  164|163.47236272420173|
|(14,[2,7,8,9,10,1...|  116| 159.2336907896131|
|(14,[2,7,8,9,10,1...|  155|161.58961293655852|
|(14,[2,7,8,9,10,1...|  164|161.56204738916063|
|(14,[2,7,8,9,10,1...|  168|161.50320307170136|
|(14,[2,7,8,9,10,1...|  126|160.09478394064467|
|(14,[2,7,8,9,10,1...|  161|162.37043293968736|
|(14,[2,7,8,9,10,1...|  205|160.41865886698224|
+--------------------+-----+------------------+
only showing top 20 rows

In [48]:
test_results = lrModel.evaluate(test_data)
print("R2:{}".format(test_results.r2))

R2:0.5107816443976604

In [50]:
# GBTRegressor
from pyspark.ml.regression import GBTRegressor
gbt = GBTRegressor(featuresCol='features',labelCol="total")
gbtModel = lr.fit(train_data)

In [51]:
pred2=gbtModel.transform(test_data)

In [52]:
pred2.show()

+--------------------+-----+------------------+
|            features|total|        prediction|
+--------------------+-----+------------------+
|(14,[0,2,3,9,10,1...|   92|160.67903652949076|
|(14,[0,2,3,9,10,1...|   92| 156.5295401358012|
|(14,[0,3,7,9,10,1...|  112|164.52179462512663|
|(14,[0,3,9,10,11,...|  218|166.42335357466663|
|(14,[2,7,8,9,10,1...|  182|159.22015649784043|
|(14,[2,7,8,9,10,1...|  119| 162.3520500774648|
|(14,[2,7,8,9,10,1...|  153|162.71798183967053|
|(14,[2,7,8,9,10,1...|  119| 161.1995771976715|
|(14,[2,7,8,9,10,1...|  112|162.77225644159557|
|(14,[2,7,8,9,10,1...|  129|160.61785748228476|
|(14,[2,7,8,9,10,1...|  179| 160.5818500388075|
|(14,[2,7,8,9,10,1...|  156|157.89176784543656|
|(14,[2,7,8,9,10,1...|  164|163.47236272420173|
|(14,[2,7,8,9,10,1...|  116| 159.2336907896131|
|(14,[2,7,8,9,10,1...|  155|161.58961293655852|
|(14,[2,7,8,9,10,1...|  164|161.56204738916063|
|(14,[2,7,8,9,10,1...|  168|161.50320307170136|
|(14,[2,7,8,9,10,1...|  126|160.09478394064467|
|(14,[2,7,8,9,10,1...|  161|162.37043293968736|
|(14,[2,7,8,9,10,1...|  205|160.41865886698224|
+--------------------+-----+------------------+
only showing top 20 rows

In [53]:
test_results2 = gbtModel.evaluate(test_data)
print("R2:{}".format(test_results2.r2))

R2:0.5107816443976606